:root {
  --cyan-dark: #2bb3b2;
  --cyan-light: #4abebc;
  --yellow: hsl(71, 73%, 54%);
  --gray-light: hsl(204, 43%, 93%);
  --gray-blue: hsl(218, 22%, 67%);
  --white-gray: rgba(255, 255, 255, 0.7);
}

/* Base styles */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;
  color: white;
  font-family: 'Karla', sans-serif;
}

section {
  padding: 35px 30px;
  /* height: 50vh; */
}

p {
  line-height: 1.8;
}

h2, h3 {
  font-size: 16px;
}

h1 {
  font-size: 20px;
  margin-bottom: 25px;
}

/* Join section */

.join {
  color: #999;
}

.join__title {
  color: var(--cyan-dark);
}

.join__subtitle {
  color: var(--yellow);
  margin-bottom: 20px;
}

/* Price section */

.price {
  background: var(--cyan-dark);
}

.price__subtitle {
  color: var(--white-gray);
  font-weight: 400;
  margin-bottom: 8px;
  
}

.price__subtitle--large {
  color: white;
  font-size: 28px;
  margin-right: 8px;
}

.price__text {
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 25px;
}

button {
  background: var(--yellow);
  width: 100%;
  height: 50px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
}


/* Why section */
.why {
  background: var(--cyan-light);
}

.why__list {
  padding: 0;
}

.why__list li {
  list-style: none;
  color: var(--white-gray);
  margin-bottom: 8px;
}


/* Footer default styles */
.attribution {
  font-size: 11px;
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
}

.attribution a {
  color: var(--cyan-dark);
  text-decoration: underline wavy;
}