:root {
  --cyan-dark: #2bb3b2;
  --cyan-light: #4abebc;
  --yellow: hsl(71, 73%, 54%);
  --gray-light: hsl(204, 43%, 93%);
  --gray-blue: hsl(218, 22%, 67%);
  --white-gray: rgba(255, 255, 255, 0.7);
}

/* Base styles */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;
  color: white;
  font-family: 'Karla', sans-serif;
  background: #dedede;

}

section {
  padding: 30px;

}

p {
  line-height: 1.8;
}

h2, h3 {
  font-size: 16px;
}

h1 {
  font-size: 20px;
  margin-bottom: 25px;
}


/* Container layout */
.container {
  max-width: 315px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Join section */

.join {
  color: #999;
  background: white;
}

.join__title {
  color: var(--cyan-dark);
}

.join__subtitle {
  color: var(--yellow);
  margin-bottom: 20px;

}

/* Price section */

.price {
  background: var(--cyan-dark);
}

.price__subtitle {
  color: var(--white-gray);
  font-weight: 400;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  
}

.price__subtitle--large {
  color: white;
  font-size: 28px;
  margin-right: 8px;
}

.price__text {
  color: rgba(255, 255, 255, 0.85);
  /* margin: 0 auto 25px; */
  margin-bottom: 35px;
  
}

button {
  background: var(--yellow);
  width: 100%;
  height: 50px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 315px;
  /* margin: 0 auto; */
  display: block;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* Why section */
.why {
  background: var(--cyan-light);
}

.why__list {
  padding: 0;
}

.why__list li {
  list-style: none;
  color: var(--white-gray);
  margin-bottom: 8px;
}


/* Footer default styles */
.attribution {
  font-size: 11px;
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
}

.attribution a {
  color: var(--cyan-dark);
  text-decoration: underline wavy;
}


/* Desktop View */

@media (min-width: 700px) {
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    /* max-height: 600px; */
    margin: 50px auto;
  }

  section {
    padding: 50px;
  }

  .price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }


  .join {
    grid-column: 1 / -1;
  }



  /* .attribution {
    margin-top: 100px;
  } */

}